/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
.bosch-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagenes/banner-bosch.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.3); /* Fondo oscuro con transparencia */
}

nav img {
    width: 100px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding: 10px 0;
}

.nav-links a::after {
    content: "";
    display: block;
    height: 2px;
    background: #f44336;
    width: 0;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.bosch-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.bosch-intro h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.bosch-intro p {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto;
}


.bosch-info {
    padding: 60px 20px;
    background: #f4f4f4;
}

.info-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.info-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 20px);
    max-width: 500px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-box img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f44336;
}

.info-box h2 {
    font-size: 1.5rem;
    margin: 20px 0 10px;
}

.info-box p {
    font-size: 1rem;
    color: #555;
}

.info-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #c50707;
    color: #fff;
}
